In [1]:
Employee={"Name":"Komal","Age":30,"Salary":32000,"Company":"Synechron"}
Employee

{'Name': 'Komal', 'Age': 30, 'Salary': 32000, 'Company': 'Synechron'}

In [2]:
type(Employee)

dict

In [3]:
Employee[0]

KeyError: 0

In [ ]:
###NOTE:In Dictionary there is no Index, like list,tuple or array

In [5]:
Employee["Age"]

30

In [6]:
Employee["Company"]

'Synechron'

In [7]:
Employee[30]

KeyError: 30

In [4]:
del Employee["Name"]
Employee

{'Age': 30, 'Salary': 32000, 'Company': 'Synechron'}

In [ ]:
###I want to add Name:Komal again?how can do that?

In [8]:
Employee["Name"]="komal"
Employee

{'Age': 30, 'Salary': 32000, 'Company': 'Synechron', 'Name': 'komal'}

In [9]:
Employee["Gender"]="Female"
Employee

{'Age': 30,
 'Salary': 32000,
 'Company': 'Synechron',
 'Name': 'komal',
 'Gender': 'Female'}

###Dictionary has key value pair datastructure
###It is writtens with curly brackets/flower brackets/set brackets{}
###value can be retrieved using the key but we cannot retrieve key from value

###Name,Age,Salary,Company-->(Before :)
###Komal,30,32000,Synechron-->(After :)